table.nt-summary-tab {
    width: 100%;
    border-collapse: collapse;
}

.nt-summary-page {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}

.nt-summary-tab th {
    text-align: left;
    height: 3em;
    font-weight: 800;
    background-color: #aaa;
    padding: 0 1em 0 1em;
}

.nt-summary-tab tr {
    text-align: left;
    height: 2.5em;
}

.nt-summary-tab tr:nth-child(even) {
    background-color: #eee;
}

.nt-summary-tab td {
    padding: 0 1em 0 1em;
}

.nt-summary-tab a:link {
    color: #444;
}

.nt-summary-tab a:visited {
    color: #888;
}

.nt-summary-tab a:hover {
    color: #000;
}

.nt-summary-tab a:active {
    color: #000;
}