.tree li {
    display: block;
    position: relative;
    /* padding-left: calc(2 * var(--spacing) - var(--radius) - 2px); */
}

.tree ul {
    padding: 0px;
    padding-left: 1em;
    /* margin-left: calc(var(--radius) - var(--spacing)); */
}

/* 
.tree ul li {
    border-left: 2px solid black;
} */
/* 
.tree ul li:last-child {
    border-color: transparent;
} */

.icon {
    margin-right: 6px;
    position: relative;
    top: 2px
}

.tree-children {
    margin-left: 25px;
}

.box {
    cursor: pointer;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
}

.selected {
    background-color: #dddddd;
}

.nt-node-icon {
    margin-right: 0.3em;
}

.nt-node-duration {
    font-size: 75%;
    color: #999;
}

.nt-tree-error {
    color: red;
}