.nt-tree li {
    display: block;
    position: relative;
}

.nt-tree ul {
    padding: 0px;
    padding-left: 1em;
}

.nt-expand-icon {
    margin-right: 6px;
    position: relative;
    top: 2px
}

.nt-tree-children {
    margin-left: 25px;
}

.nt-tree-row {
    cursor: pointer;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1em;
}

.nt-tree-selected {
    background-color: #dddddd;
}

.nt-node-icon {
    margin-right: 0.3em;
}

.nt-node-duration {
    font-size: 75%;
    color: #999;
}