.nt-app-error {
  background-color: #faa;
  font-size: 26px;
  padding: 10px;
}

button.small-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: 1px solid #D5D9D9;
  font-size: 12px;
  height: 20px;
  padding: 0 12px;
  text-align: center;
  font-weight: 400;
  color: #0F1111;

  :hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
  }

  :active {
    background-color: black;
  }
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(213 217 217 / 50%);
  background: #FFF;
  border: 1px solid #D5D9D9;
  font-size: 14px;
  height: 28px;
  padding: 0 12px;
  text-align: center;
  font-weight: 400;
  color: #0F1111;

  :hover {
    background-color: #F7FAFA;
    border-color: #D5D9D9;
  }

  :active {
    background-color: black;
  }
}